<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ruoyi.park.mapper.ParkTenantMapper">

    <resultMap id="tenantListVoResult" type="com.ruoyi.park.domain.vo.tenant.TenantListVo">
        <id property="tenantId" column="tenant_id"/>
        <result property="nickName" column="nick_name"/>
        <result property="idCardNumber" column="id_card_number"/>
        <result property="email" column="email"/>
        <result property="phonenumber" column="phonenumber"/>
        <result property="homeArea" column="home_area"/>
        <result property="addressDetails" column="address_details"/>
    </resultMap>

    <sql id="selectTenantVo">
        SELECT t1.tenant_id,
               t2.nick_name,
               t1.id_card_number,
               t2.email,
               t2.phonenumber,
               t1.home_area,
               t1.address_details,
               t1.current_address,
               t2.user_id,
               t2.user_name,
               t2.`password`,
               t1.create_time
        FROM park_tenant AS t1
                 LEFT JOIN
             sys_user AS t2
             ON t1.user_id = t2.user_id
    </sql>

    <select id="selectTenantList" parameterType="string" resultMap="tenantListVoResult">
        <include refid="selectTenantVo"></include>
        where t1.del_flag = '0' and t2.del_flag = '0'
        <if test="nickName != null and nickName != '' ">
            and t2.nick_name like concat('%', #{nickName}, '%')
        </if>
        order by t1.create_time desc
    </select>
</mapper>